<div
  class="bg-[#001E53] h-14 w-full rounded-none flex items-center justify-between px-4 font-bold"
>
<div class=" text-white px-4 py-2 flex justify-between">
  <h2 class="text-lg font-medium uppercase">Detalle Solicitud</h2>
</div>

  <button (click)="cerraDialogo()"  class="w-6 h-6 text-gray-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-2xl font-bold"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>

<mat-dialog-content>
<form  class="mb-11  ">
    <div class="relative  sm:rounded-lg">
        <div class="pb-5">

            <div class="grid grid-cols-1 gap-2 mt-4 md:grid-cols-2 space-y-2">

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-sx md:lg font-bold mb-2"
                        for="DuracionPrograma">
                        Dirigido a
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Nombre de a quien va dirigido" />
                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs md:lg font-bold mb-2"
                        for="DuracionPrograma">
                        Cargo del solicitado
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Cargo del solicitado" />
                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Solicitante
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Nombre del solicitante" />

                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Cargo del solicitante
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Cargo del solicitante" />

                </div>
            </div>

            <div class="grid grid-cols-1 gap-2 mt-4 md:grid-cols-3 space-y-2">

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Fecha de la solicitud
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="date" />

                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Hora de salida
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required id="DuracionPrograma" type="time" />

                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Hora de regreso
                        <span class="text-red-500">*</span>
                    </label>
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="time" />
                </div>

            </div>

            <div class="px-8 mt-2 ml-8">
                <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                    for="DuracionPrograma">
                    Destino
                    <span class="text-red-500">*</span>
                </label>
                <!-- <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    required autocomplete="off" id="DuracionPrograma" type="text"
                    placeholder="Duración del Programa en horas" /> -->

                <textarea name="" id=""
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                </textarea>
            </div>

            <div class="px-8 mt-2 ml-8">
                <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                    for="DuracionPrograma">
                    Justificacion de la solicitud
                    <span class="text-red-500">*</span>
                </label>
                
                <textarea name="" id=""
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                </textarea>

            </div>
        </div>
    </div>
</form>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="px-6 pt-3 flex justify-end">
        <button
            class="rounded bg-blue-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
            <span class="mx-1">Cerrar</span>
        </button>

    </div>
</mat-dialog-actions>
