<!-- component -->
<section
    class="relative min-h-screen flex  justify-center py-12 px-4 sm:px-6 lg:px-8 bg-no-repeat bg-cover  items-center"
    style="background-image: url(assets/layout.png);">
    <div class="absolute top-5 left-5 h-10 w-44 ml-0 mt-0">
        <img src="assets/logocnu.png" alt="Banner" />
    </div>
    <!-- CONTENT GOES HERE -->
    <div class="flex flex-col h-full w-full mx-auto ">
        <div class="p-4">
            <div class="relative flex">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-grip"></i>
                </div>
                <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5" placeholder="Buscar Modulos...">
                <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>
            </div>
        </div>
        <section class="flex flex-col mx-auto bg-transparent rounded-lg p-6 shadow-md space-y-6 w-full">
            
            
            <h1 class="text-white text-lg text-center align-baseline inline-flex px-4 py-3 mr-auto items-center text-[.95rem] leading-none text-primary bg-[#a2b2c850] rounded-lg">
                Modulo Presupuesto</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                
                <div routerLink="/Presupuesto" class="relative cursor-pointer bg-white flex-col mt-2  px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-cash-register"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Presupuesto</div>
                    </div>
                </div>
                
                <div class="relative cursor-pointer bg-white flex-col mt-2  px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-cash-register"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                
                <div class="relative cursor-pointer bg-white flex-col mt-2  px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-cash-register"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <!-- <div class="text-6xl font-bold tracking-tight leading-none text-blue-500">Modulos de prueba</div> -->
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                
                <div class="relative cursor-pointer bg-white flex-col mt-2  px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-cash-register"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <!-- <div class="text-6xl font-bold tracking-tight leading-none text-blue-500">Modulos de prueba</div> -->
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                

            </div>
            <h1 class="text-white text-lg text-center align-baseline inline-flex px-4 py-3 mr-auto items-center text-[.95rem] leading-none text-primary bg-[#a2b2c850] rounded-lg">
                Modulo Transporte</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                
                <div routerLink="/Transporte" class="relative cursor-pointer bg-white flex-col mt-2 px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Transporte</div>
                    </div>
                </div>
                
                <div class="relative bg-white flex-col mt-2 px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                
                <div class="relative bg-white flex-col mt-2 px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                
                <div class="relative bg-white flex-col mt-2 px-6 py-2 shadow rounded-lg">
                    <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-[#204ab0] left-4 -top-6">
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="text-lg font-medium text-blue-500">Modulos de prueba</div>
                    </div>
                </div>
                

            </div>

        </section>
    </div>
</section>