<div class="max-w-screen-xl md:mx-4 lg-mx-auto mx-10 mt-10 ">

	<div class="relative overflow-x-auto border-gray-50 shadow-md sm:rounded-lg">
		<div class="p-4 flex items-center justify-between">
			<label for="table-search" class="sr-only">Search</label>
			<div class="relative mt-1">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg class="w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 " placeholder="Buscar">
        </div>
        <button (click)="AbrirDialogo(1, 0)" class="rounded bg-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
            Agregar
        </button>
			</div>
			<table class="w-full text-sm text-left text-gray-50">
				<thead class="text-xs text-white uppercase bg-[#14173D] ">
					<tr>
						<th scope="col" class="p-4">
							#
						</th>
						<th scope="col" class="px-6 py-3">
							Concepto
						</th>
						<th scope="col" class="px-6 py-3">
							Monto Asignado
						</th>
						<th scope="col" class="px-6 py-3">
							Año Aplicado
						</th>
						<th scope="col" class="px-6 py-3">
							Oficina
						</th>
						<th scope="col" class="px-6 py-3">
							Acciones
						</th>
					</tr>
				</thead>
				<tbody>
					@for (presupuesto of presupuestos; track $index) {
					<tr class="bg-white border-b hover:bg-gray-500 text-black whitespace-nowrap">
						<th scope="row" class="px-6 py-4 font-medium">
							{{ $index + 1 }}
						</th>
						<td class="px-6 py-4">
							{{presupuesto.ConceptoNombre}}
						</td>
						<td class="px-6 py-4">
							{{presupuesto.MontoAsignadoOrigen}}
						</td>
						<td class="px-6 py-4">
							{{presupuesto.MontoAsignadoOrigen}}
						</td>
						<td class="px-6 py-4">
							Contabiidad
						</td>
						<td class="px-6 py-4 text-sm whitespace-nowrap">
								<button (click)="AbrirDialogo(2, 0)" class="text-blue-500 mr-2">
								  <mat-icon>remove_red_eye</mat-icon>
								</button>
			  
								<button (click)="AbrirDialogo(3, 0)" class="text-green-500 mr-2">
								  <mat-icon>edit</mat-icon>
								 
								</button>
								<button class="text-red-500 mr-2"  >
								  <mat-icon>delete</mat-icon>
								</button>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>

		
	
	</div>