<aside class="flex h-screen overflow-hidden text-xs">
    <nav class="h-full flex flex-col bg-gradient-to-b from-[#020659] to-[#204ab0] shadow-sm">
      <div class="p-4 pb-2 flex justify-between items-center">
        <img
        routerLink="vacio"
          src="assets/logocnu.png"
          class="overflow-hidden text-xs transition-all"
          [ngClass]="expanded ? 'w-52' : 'w-0'"
          alt=""
        />
        <button (click)="toggleSidebar()" class="p-2 rounded-full bg-gray-50 hover:bg-gray-100">
          <ng-container *ngIf="expanded; else collapsed">
            <i class="fa-solid fa-chevron-left"></i>
          </ng-container>
          <ng-template #collapsed>
            <i class="fa-solid fa-chevron-right"></i>
          </ng-template>
        </button>
      </div>

      <ul class="flex-1 z-10">

        <div class="text-xs font-medium mt-6 text-[#F4F6FF]">
          <h1 class="px-2 pt-2 pb-2">Menú</h1>
        </div>

        <li
          routerLink="Apertura"
          [ngClass]="expanded ? '' : ''"
           class="relative group cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-[#fde63D] pr-6">         
              <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-calculator"></i>  
              </span>
              <span class="overflow-hidden text-sm font-medium transition-all" [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'">Apertura del Presupuestos</span>
              <div *ngIf="!expanded" class="absolute left-full rounded-md px-2 py-1 ml-2 bg-indigo-100 text-indigo-800 text-xs invisible opacity-0 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
                Apertura del Presupuestos
              </div>
        </li>
        <li
          routerLink="Presupuestos"
          [ngClass]="expanded ? '' : ''"
           class="relative group cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-[#fde63D] pr-6">         
              <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-wallet"></i>  
              </span>
              <span class="overflow-hidden text-sm font-medium transition-all" [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'">Presupuestos</span>
              <div *ngIf="!expanded" class="absolute left-full rounded-md px-2 py-1 ml-2 bg-indigo-100 text-indigo-800 text-xs invisible opacity-0 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
                Presupuestos
              </div>
        </li>

        <li
          routerLink="Asignacion"
          [ngClass]="expanded ? '' : ''"
           class="relative group cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-[#fde63D] pr-6">         
              <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-money-bills"></i>
              </span>
              <span class="overflow-hidden text-sm font-medium transition-all" [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'">Asignacion</span>
              <div *ngIf="!expanded" class="absolute left-full rounded-md px-2 py-1 ml-2 bg-indigo-100 text-indigo-800 text-xs invisible opacity-0 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
                Asignacion
              </div>
        </li>

        <li
          routerLink="ClgCuentas"
          [ngClass]="expanded ? '' : ''"
           class="relative group cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-[#fde63D] pr-6">         
              <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-cash-register"></i> 
              </span>
              <span class="overflow-hidden text-sm font-medium transition-all" [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'">Catalogo de Cuentas</span>
              <div *ngIf="!expanded" class="absolute left-full rounded-md px-2 py-1 ml-2 bg-indigo-100 text-indigo-800 text-xs invisible opacity-0 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
                Catalogo de Cuentas
              </div>
        </li>    

        <li
          routerLink="Origenfondos"
          [ngClass]="expanded ? '' : ''"
           class="relative group cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-[#fde63D] pr-6">         
              <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-sack-dollar"></i>
              </span>
              <span class="overflow-hidden text-sm font-medium transition-all" [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'">Origen de Fondos</span>
              <div *ngIf="!expanded" class="absolute left-full rounded-md px-2 py-1 ml-2 bg-indigo-100 text-indigo-800 text-xs invisible opacity-0 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
                Origen de Fondos
              </div>
        </li>               
      </ul>
      
  
      <a routerLink="" class="border-t flex p-3 justify-center">
        <mat-icon class="text-white">exit_to_app</mat-icon>
        <div
          class="flex justify-between items-center overflow-hidden text-xs transition-all"
          [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'"
        >
          <div class="leading-4">
            <h4 class="font-medium text-white">Cerrar Sesión</h4>
            <!-- <span class="text-xs text-gray-600">johndoegmail.com</span> -->
          </div>
          <!-- <app-more-vertical size="20"></app-more-vertical> -->
        </div>
        </a>
    </nav>  
    <main class="bg-vacio flex-1 ">
      <app-root></app-root>
    </main>
  </aside>