<div class="main-app h-screen md:flex ">
    <aside class="main-sidebard relative overflow-hidden z-10 bg-blue-500">
      <!-- class="rounded-full bg-white w-[9rem] h-[9rem] flex justify-center items-center" -->
      <a
        routerLink="/modulos"
      >
      <!-- <img class="w-[17rem] mt-12" src="../../../assets/modRecurso 1.png" alt="" /> -->
      </a>
  
      <h1 class="text-center text-[#349fe8] mt-12 font-medium text-4xl"></h1>
      <H2 class="text-lg text-center text-white font-medium uppercase">Modulo de Transporte</H2>
  
      <div class="w-full">
     
        <ul class="mt-6 ml-4 leading-10">
          <li class="relative group group">
          <a class="inline-flex items-center font-medium text-white transition-transform duration-150 cursor-pointer hover:scale-110" 
          routerLink="solicitar">
              <mat-icon>laptop_car</mat-icon>
              <span class="ml-4 uppercase">Solicitar Transporte</span>
          </a>
          <div class="absolute bottom-0 left-0 w-0 bg-blue-500 h-1 transition-all duration-500 group-hover:w-full"></div>
        </li>       
          <li class="relative group group">
          <a class="inline-flex items-center font-medium text-white transition-transform duration-150 cursor-pointer hover:scale-110" 
          routerLink="historial">
              <mat-icon>laptop_car</mat-icon>
              <span class="ml-4 uppercase">Historial Transporte</span>
          </a>
          <div class="absolute bottom-0 left-0 w-0 bg-blue-500 h-1 transition-all duration-500 group-hover:w-full"></div>
        </li>       
          <li class="relative group group">
          <a class="inline-flex items-center font-medium text-white transition-transform duration-150 cursor-pointer hover:scale-110" 
          routerLink="solicitudes">
              <mat-icon>laptop_car</mat-icon>
              <span class="ml-4 uppercase">Solicitudes Transporte</span>
          </a>
          <div class="absolute bottom-0 left-0 w-0 bg-blue-500 h-1 transition-all duration-500 group-hover:w-full"></div>
        </li>       
        
  </ul>
      </div>

  
  
      <div class="absolute pl-8 bottom-0 left-0 w-full mb-6 group">
        <button class="inline-flex items-center font-medium text-white transition-transform duration-150 cursor-pointer hover:scale-110 hover:text-[#A9A9A9]" (click)="cerrarSesion()" >
          <mat-icon>exit_to_app</mat-icon>
          <span class="ml-2">CERRAR SESIÓN</span>
        </button>
      </div>
  
        <div class="absolute -bottom-24 -left-20 w-40 h-40 ring-8 ring-[#12569D] ring-opacity-20 rounded-full z-[-1]"></div>
        <div class="absolute -bottom-20 -left-20 w-40 h-40 ring-8 ring-[#339BE4] ring-opacity-20 rounded-full z-[-1]"></div>
        <div class="absolute -top-24 -right-8 w-40 h-40 ring-8 ring-[#12569D] ring-opacity-20 rounded-full z-[-1]"></div>
        <div class="absolute -top-16 -right-6 w-40 h-40 ring-8 ring-[#339BE4] ring-opacity-20 rounded-full z-[-1]"></div>
  
    </aside>
    <main class="main-dash3">
      <router-outlet></router-outlet>
    </main>
  </div>