<div
  class="bg-[#14173D] h-14 w-full flex items-center justify-between px-4 font-bold"
>
<div class=" text-white px-4 py-2 flex justify-between">
  <h2 class="text-lg font-medium uppercase"> titulo_pagina </h2>
</div>

  <button (click)="cerraDialogo()" class="w-6 h-6 text-gray-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-2xl font-bold"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>

<mat-dialog-content>
<form >
  <div class="grid grid-cols-1 gap-2 mt-4 md:grid-cols-2 space-y-2">
    <div class="px-8 mt-2 ml-8">
        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="nombre">
          N° RUC
          <span class="text-red-500">*</span>
        </label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          required id="nombre" autocomplete="off" formControlName="NoReferencia"
           type="text" placeholder="Nombre de la Edición">
        <!-- <div *ngIf="formulario.controls['Nombre'].touched && formulario.controls['Nombre'].invalid"
          class="text-red-500 text-xs font-semibold">
          Debe ingresar el nombre de la Edición.
        </div> -->
      </div>
    <div class="px-8 mt-2 mr-8">
        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="nombre">
            Monto Presupuestario
          <span class="text-red-500">*</span>
        </label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          required id="nombre" autocomplete="off" formControlName="ConceptoNombre"
           type="text" placeholder="Año de la Edición">
      </div>

    <div class="px-8 mt-2 ml-8">
        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="nombre">
            Año Presupuestario
          <span class="text-red-500">*</span>
        </label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          required id="nombre" autocomplete="off" formControlName="AnioAplicado"
           type="text" placeholder="Nombre de la Edición">
        <!-- <div *ngIf="formulario.controls['Nombre'].touched && formulario.controls['Nombre'].invalid"
          class="text-red-500 text-xs font-semibold">
          Debe ingresar el nombre de la Edición.
        </div> -->
      </div>
    
  </div>
</form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex">
    <button
    class="middle none center mr-3 rounded-lg border border-black py-2 px-4 font-sans text-xs font-bold uppercase text-black transition-all hover:opacity-75 focus:ring focus:ring-black active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    data-ripple-dark="true"
  >
    Cancelar
  </button>

  <button
    class="middle none center mr-3 rounded-lg bg-[#14173D] py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-[#14173D]/20 transition-all hover:shadow-lg hover:[#14173D]/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
  >
    Guardar
  </button>
    
  </div>

</mat-dialog-actions>