<div class="p-6 bg-white border border-gray-200 rounded-lg shadow ">
    <h2 class="border-l-[8px] border-blue-500 p-1 pl-2 text-lg font-bold">
        <!-- {{
        id_institucion_usuario == 1
          ? "Sedes de las Instituciones de Educación Superior"
          : "Sedes de la "+titulo_institucion
      }} -->

        SOLICITAR TRANSPORTE
    </h2>
    <button></button>

    <div>
        <div class="relative shadow-md sm:rounded-lg">
            <div class="flex items-center justify-between">

                <div class="flex items-center justify-between pb-2">


                    <!-- <div class="relative mt-4 md:mt-0">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="w-5 h-5 text-[#A9A9A9]" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <input type="text"
                            class="w-full py-2 pl-10 pr-4  bg-white border border-[#A9A9A9] rounded-lg  dark:text-black focus:border-[#0F2167] focus:outline-none"
                            placeholder="Buscar">


                    </div> -->
                </div>

            </div>


            <!-- tabla------------------------------------------------------------ -->
            <div class="pb-5">

                <div class="grid grid-cols-1 gap-2 mt-4 md:grid-cols-2 space-y-2">

                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Dirigido a
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>


                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Cargo del solicitado
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>




                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Solicitante
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>


                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Cargo del solicitante
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>
                </div>


                <div class="grid grid-cols-1 gap-2 mt-4 md:grid-cols-3 space-y-2">

                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Fecha de la solicitud
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>


                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Hora de salida
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>


                    <div class="px-8 mt-2 ml-8">
                        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                            for="DuracionPrograma">
                            Hora de regreso
                            <span class="text-red-500">*</span>
                        </label>
                        <input
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required autocomplete="off" id="DuracionPrograma" type="text"
                            placeholder="Duración del Programa en horas" />

                    </div>

                </div>

                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Destino
                        <span class="text-red-500">*</span>
                    </label>
                    <!-- <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Duración del Programa en horas" /> -->


                    <textarea name="" id=""
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "></textarea>

                </div>


                <div class="px-8 mt-2 ml-8">
                    <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
                        for="DuracionPrograma">
                        Justificacion de la solicitud
                        <span class="text-red-500">*</span>
                    </label>
                    <!-- <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required autocomplete="off" id="DuracionPrograma" type="text"
                        placeholder="Duración del Programa en horas" /> -->


                    <textarea name="" id=""
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "></textarea>

                </div>


                <div class="px-6 pt-3 flex justify-end">
                    <button
                        class="rounded bg-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
                        <span class="mx-1">Solicitar</span>
                    </button>

                </div>
            </div>





        </div>
    </div>
</div>