<div class="p-6 bg-white border border-gray-200 rounded-lg shadow ">
    <h2 class="border-l-[8px] border-blue-500 p-1 pl-2 text-lg font-bold">
        <!-- {{
        id_institucion_usuario == 1
          ? "Sedes de las Instituciones de Educación Superior"
          : "Sedes de la "+titulo_institucion
      }} -->

        SOLICITAR TRANSPORTE
    </h2>
    <button></button>

    <div>
        <div class="relative shadow-md sm:rounded-lg">
            <div class="flex items-center justify-between">

                <div class="flex items-center justify-between pb-2">


                    <!-- <div class="relative mt-4 md:mt-0">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="w-5 h-5 text-[#A9A9A9]" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <input type="text"
                            class="w-full py-2 pl-10 pr-4  bg-white border border-[#A9A9A9] rounded-lg  dark:text-black focus:border-[#0F2167] focus:outline-none"
                            placeholder="Buscar">


                    </div> -->
                </div>

            </div>


            <!-- tabla------------------------------------------------------------ -->
            <div class="max-h-[500px] overflow-y-auto scrollbar-hide">
             

                <!-- <div class="mt-10">
                    <div class="absolute bottom-0 left-0 w-full mt-16 flex items-start justify-start bg-white">
                        <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"
                            [responsive]="true">
                        </pagination-controls>
                        <div class="mb-4 text-gray-700">
                            Items:
                            <select (change)="handlePageSizeChange($event)">
                                <option selected value="">Seleccione</option>
                                @for (item of pageSizes; track $index) {
                                <option value="{{ item }}">{{ item }}</option>
                                }
                            </select>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>