/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.main-app {
    display: flex;
    height: 100vh;
}

.mat-mdc-dialog-surface{
    border-radius: 8px !important;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    gap: .9rem;

}


.main-sidebard {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #001E53;
    height: 100vh;
    padding: 1rem;
    width: 20.5rem;
}


.main-dash3 {
    width: 100%;
    padding: 2rem;
    overflow-x: hidden;
    background-image: url("./assets/logocnu.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    background-color: #ffffff;
}

.bg-vacio{
    background-image: url('/assets/layout.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh; /* Altura total del viewport */
    margin: 0;
    padding: 0;
}