<aside class="flex w-screen h-screen">
    <nav class="h-full flex flex-col bg-gradient-to-tr from-[#09428c] to-[#011126] border-r shadow-sm">
      <div class="p-4 pb-2 flex justify-between items-center">
        <img
          src="assets/logocnu.png"
          class="overflow-hidden transition-all"
          [ngClass]="expanded ? 'w-32' : 'w-0'"
          alt=""
        />
        <button (click)="toggleSidebar()" class="p-1.5 rounded-lg bg-gray-50 hover:bg-gray-100">
          <ng-container *ngIf="expanded; else collapsed">
            <i class="fa-solid fa-chevron-left"></i>
          </ng-container>
          <ng-template #collapsed>
            <i class="fa-solid fa-chevron-right"></i>
          </ng-template>
        </button>
      </div>
  
      <ul class="flex-1 px-3">
        <ng-content></ng-content>
        <i class="fa-solid fa-bars"></i>
      </ul>
  
      <div class="border-t flex p-3">
        <img
          src="https://ui-avatars.com/api/?background=c7d2fe&color=3730a3&bold=true"
          alt=""
          class="w-10 h-10 rounded-md"
        />
        <div
          class="flex justify-between items-center overflow-hidden transition-all"
          [ngClass]="expanded ? 'w-52 ml-3' : 'w-0'"
        >
          <div class="leading-4">
            <h4 class="font-semibold">John Doe</h4>
            <span class="text-xs text-gray-600">johndoegmail.com</span>
          </div>
          <i class="fa-solid fa-bars"></i>
          <!-- <app-more-vertical size="20"></app-more-vertical> -->
        </div>
      </div>
    </nav>
  </aside>